<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="18a9123b-7b78-44e6-b6ed-5be12badf321" value="Data Source=192.168.50.103;Initial Catalog=awsd; Connect Timeout=120;Integrated Security=SSPI;Persist Security Info=False;Packet Size=4096" />
  </appSettings>
</configuration>